/* app css stylesheet */

.hide {
   display: none;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}