/* app css stylesheet */

.hide {
   display: none;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

.img-profile {
    width: 48px;
    height: 48px;
}

.game-board {
    margin: 60px 10px;
    width: 1740px;
    height: 1162px;
}