
<h2>Login Page</h2>

<form>
    <a href="#" class="btn btn-default btn-large" title="Log in with Google" ng-click="login('google')">
        <img src="/app/img/auth/google.png" />
        <span>Log in with Google</span>
    </a>
    <a href="#" class="btn btn-default" title="Log in with Facebook" ng-click="login('facebook')">
        <img src="/app/img/auth/facebook.png" />
        <span>Log in with Facebook</span>
    </a>
    <a href="#" class="btn btn-default btn-large" title="Log in with Twitter" ng-click="login('twitter')">
        <img src="/app/img/auth/twitter.png" />
        <span>Log in with Twitter</span>
    </a>

    <p ng-show="err" class="error">{{err}}</p>
</form>

